<!-- app/views/canteen/index.html.erb -->
<!DOCTYPE html>
<html>
  <head>
    <title>Canteen</title>
  </head>
  <body>
    <h1>Welcome to the Canteen Module</h1>
    <p>This is the content of the Canteen page.</p>
  </body>
</html>