/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

.login-page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('/assets/background.png');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .card {
    border: none;
  }
  
  .logo-placeholder {
    font-size: 1.5rem;
    color: #999;
  }
  
/* Additional styling for login page */
.text-divider {
    display: flex;
    align-items: center;
    text-align: center;
  }
  
  .text-divider::before,
  .text-divider::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #6C7278;
    margin: 0 10px;
  }

/* app/assets/stylesheets/dashboard.scss */
  .sidebar {
    background-color: #FF9015;
    height: 95vh;
    width: 15vh;
    border-radius: 15px;
    margin: 15px;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Space between cards */
  }
  
  .card2 {
    border: 0px solid #ddd; //can change border later to see where it is
    border-radius: 5px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 0px;
    margin-top: 15px;
    margin-bottom: 0px;
    width: 70vh;
  }

  .card3 { //half the size of card2
    border: 1px solid #ddd; //can change border later to see where it is
    border-radius: 5px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 0px;
    margin-top: 15px;
    margin-bottom: 0px;
    width: 32vh;
  }
  

  
  
  